<div class="ui-widget-content ui-corner-all content">
	<p><strong>Primer {{ primer.name }}</strong></p>
	<table style="padding-left:15px;">
		<tr>
			<td style="width:100px;"><em>Section:</em></td><td style="width:100px;"><em>Full</em></td><td style="width:100px;"><em>Anneal</em></td>
		</tr>
		<tr>
			<td><em>Length:</em></td><td>{{ primer.length }} bp</td><td>{{ primer.stick.length }} bp</td>
		</tr>
		<tr>
			<td><em>Tm:</em></td><td>{{ primer.tm|floatformat }}&deg;C</td><td>{{ primer.stick.tm|floatformat }}&deg;C</td>
		</tr>
		<tr>
			<td><em>Sequence:</em></td><td></td><td></td>
		</tr>
	</table>
	<p style="font-family:monospace;">
		{% for b in primer.seq_pretty %}
			{{ b }}
		{% endfor %}
	</p>
</div>

{% if primer.warning.all %}
	<div class='ui-state-highlight ui-corner-all content'>
		<ul>
		{% for w in primer.warning.all %}
			<li>{{ w.text|safe }}</li>
		{% endfor %}
		</ul>
	</div>
{% endif %}


<div class="ui-widget-content ui-corner-all content">

<p><strong>Flap</strong> ({{ primer.flap.cfragment.fragment.name }}) <em>- {{ primer.flap.len }} bp, {{ primer.flap.tm|floatformat }}&deg;C</em></p>
<div style="font-family:monospace; padding:10px;">
<table>
<tr id="flap">
{{ primer.flap.seq_surround|safe }}
</tr>
</table>
</div>
<br />
<p><strong>Stick</strong> ({{ primer.stick.cfragment.fragment.name }}) <em>- {{ primer.stick.len }} bp, {{ primer.stick.tm|floatformat }}&deg;C</em></p>
<div style="font-family:monospace; padding:10px;">
<table>
<tr id="stick">
{{ primer.stick.seq_surround|safe }}
</tr>
</table>
</div>
<br />
<h4>Self-priming Boxplot</h4>
<div style="text-align:center;">
<img src="{{ MEDIA_URL }}/unafold/{{ primer.boxplot }}" />
</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('#flap > td.primer:last')
		.css('background-color', 'orange')
	$('#stick > td.primer:first')
		.css('background-color', 'orange')
});
</script>