{% extends "base.html" %}

{% block js-include %}
<script src="{{ STATIC_URL }}/js/fragmentview.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/jquery.tipTip.minified.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/formtools.js" type="text/javascript"></script>
{% endblock %}

{% block css-include%}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/fragmentview.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/tipTip.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/formtools.css" />
{% endblock %}

{% block app-menu %}
<a href="/fragment/" id="library">Library</a>|
<a href="{{ fragment.name }}.gb" id="download">Download</a>
{% endblock %}

{% block content %}

		<div class="ui-widget-content ui-corner-top top-box content fixed-width">
			<div id="fragment_head_wrap">	
				<div id="fragment_info_wrap">
					<div id="fragment_info"></div>
				</div>
			
				<div id="fragment_construct_wrap">
					<div id="construct_wrap">
						<div class="ui-widget-header ui-corner-top">
						<h4>Found in {{ fragment.construct_slave.count }} construct{{ fragment.construct_slave.count|pluralize }}</h4>
						</div>
						<div class="ui-widget-content ui-corner-bottom">
							{% if fragment.construct_slave.all %}
							<ul>
								{% for construct in fragment.construct_slave.all %}
									<li><a href="/gibthon/{{ construct.id }}/">{{ construct.name }}</a></li>
								{% endfor %}
							</ul>
							{% else %}
							<p>Not found in any constructs yet</p>
							{% endif %}
						</div>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	<div id="sequence" class='full-width'>
		
	</div>
{% endblock %}

{% block dialog%}

{%endblock%}

{% block js %}
<script type="text/javascript">

$(document).ready(function() {
	$('a#download').button({
			icons:{primary:'ui-icon-link'}
		});
	$('a#library').button({
		icons:{primary:'ui-icon-note'}
	});

	$('#fragment_info').load('getMeta/');
	
	$('#sequence').load('getSeq/');
	
});

</script>
{% endblock %}
