{% extends "base.html" %}

{% block css-include %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/datatable.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/fragment.css" />
{% endblock %}


{% block js-include %}
<script src="{{ STATIC_URL }}/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/fragmentlist.js" type="text/javascript"></script>
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
<div class="ui-widget-content ui-corner-all content">
<h3>Fragment Library</h3>
	<div class="fragment-toolbar ui-widget-content ui-corner-all">
		<span class="fragment-left-buttons">
			<button id="fragment_form_open"></button>
		</span>
		<span class="fragment-right-buttons">
			<button id="delete_btn"></button>
		</span>
		<div style="clear:both;"></div>
	</div>
<div style="padding:10px;">
<form id='select_form' method="post" enctype="multipart/form-data">
{% csrf_token %}
	<table id="fragment_table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>
						<input class="all-selected" type="checkbox" name="select-all" value="select-all"/>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for fragment in fragment_list %}
			<tr>
				<td>
					<a href="{{ fragment.id }}/{{ fragment.name }}">{{ fragment.name }}</a>
				</td>
				<td>
					<p class="table-para" >
					{{ fragment.description }}
					</p>
				</td>
				<td>
					<p class="table-para">
					<input class="selected-check" id="{{fragment.id}}-checkbox" 
							type="checkbox" name="selected" value="{{fragment.id}}"/>
					</p>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
</div>

</div>
{% endblock %}

{% block dialog %}
<div id='fragment_form'>
</div>
<div id='confirm_delete'>
	<div style="text-align:center;margin-top:1.5em;">
		<p>
			Are you sure you want to delete the  
			<span id="num-frags-del"></span>
			you selected?
		</p>
		<div>
			<button id="cancel-delete"></button>
			<button id="confirm-delete"></button>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
var fragment_form_default =
'<p class="woo">Select Source:</p>' +
'<div style="text-align:center">' +
'<div class="center-pad">' +
'	<a class="add" href="add/BB" >' +
'		<div class="add-link">' +
'			<img src="{{  MEDIA_URL }}/images/fragment/BioBrick.png" alt="Parts Registry"/>' + 
'			<p>Import from partsregistry.org</p>' +
'		</div>' +
'	</a>' +
'	<a class="add" href="add/NT" >' +
'		<div class="add-link">' +
'			<img src="{{  MEDIA_URL }}/images/fragment/Nucleotide.png" alt="Nucleotide Database" />' +
'			<p>Search NCBI</p>' +
'		</div>' +
'	</a>' +
'	<a class="add" href="add/UL" >' +
'		<div class="add-link">' +
'			<img src="{{  MEDIA_URL }}/images/fragment/Upload.png" alt="Upload" />' +
'			<p>Upload file</p>' +
'		</div>' +
'	</a>' +
'	<div style="clear:both;"></div>' +
'</div>' +
'</div>';

var fragment_form_loader =
'<div style="text-align:center;margin-top:1.5em;">' +
'	<img src="{{ STATIC_URL }}/images/spinner.gif" alt="Loading" />' +
'</div>';
var fragment_form_init = function() {
	$('#fragment_form').html(fragment_form_default);
	$('.add').click(function(event) {
		event.preventDefault();
		$('#fragment_form').load('add',{'type':this.href.split('/').pop()});
	});
};

var handle_updated_selection = function(event, data){
	if( data['selected'] != 0 )
		$('#delete_btn').button('enable');
	else
		$('#delete_btn').button('disable');
}

var show_delete_dialog = function(){
	var num = $('#fragment_table').fragmentList('getNumSelected');
	var text = ''
	if(num == 1)
		text = 'fragment'
	else
		text = num + ' fragments'
		
	$('#confirm_delete')
		.find('#num-frags-del')
			.text(text);
	$('#confirm_delete').dialog('open');
};

$(document).ready(function() {
	fragment_form_init();
	$('#fragment_table').dataTable({
		bAutoWidth: false,
		bJQueryUI: true,
		aoColumns: [
			{
				sWidth:"200px"
			},
			{
				sWidth:"574px"
			},
			{
				sWidth:"40px"
			},
		]
	});

	$('#fragment_table').fragmentList({
		selectChanged: handle_updated_selection
	});
	
	$('#fragment_form_open').button({
		label:"Add new fragment",
		icons:{primary:'ui-icon-plusthick'}
	}).click(function () {
		$('#fragment_form').dialog('open');
	});
	
	$('#delete_btn').button({
		label:"Delete Selection",
		icons:{primary:'ui-icon-trash'},
		disabled: true,
	}).click(function() {
		show_delete_dialog();
	});
	
	$('#fragment_form').dialog({
		autoOpen:false,
		resizable:false,
		modal:true,
		title:"Add new Fragment",
		close:function () {
			fragment_form_init();
		},
		height:"260",
		width:"640"
	});
	
	$('#confirm_delete').dialog({
		autoOpen:false,
		resizable:false,
		modal:true,
		title:"Confirm Deletion",
		close:function () {
		},
		height:"170",
		width:"580"
	});
	
	$('#cancel-delete').button({
		label:"Cancel",
		icons:{primary:'ui-icon-cancel'}
	}).click(function() {
		$('#confirm_delete').dialog('close');
	});
	
	$('#confirm-delete').button({
		label:"Delete",
		icons:{primary:'ui-icon-trash'}
	}).click(function() {
		$('#select_form')
			.prop('action', 'delete/')
			.submit();
	});
});
{% endblock %}