
<div id='initial' class="center-pad">
	<p>Choose Import Type</p>
	<div style="margin-left:auto;margin-right:auto;text-align:center;">
		<span id="parts" class="add">
			<div class="add-link">
				<img src="{{  STATIC_URL }}/images/fragment/BioBrick.png" alt="Parts Registry"/>
				<p>Import from partsregistry.org</p>
			</div>
		</span>
		<span id="entrez" class="add">
			<div class="add-link">
				<img src="{{  STATIC_URL }}/images/fragment/Nucleotide.png" alt="NCBI" />
				<p>Search NCBI</p>
			</div>
		</span>
		<span id="upload" class="add">
			<div class="add-link">
				<img src="{{  STATIC_URL }}/images/fragment/Upload.png" alt="Upload" />
				<p>Upload file</p>
			</div>
		</span>
		<span id="manual" class="add">
			<div class="add-link">
				<img src="{{  STATIC_URL }}/images/fragment/Manual.png" alt="Manual Import" />
				<p>Manual Import</p>
			</div>
		</span>

		<div style="clear:both;"></div>
	</div>
</div>
