<div class='JFS ui-widget-content ui-corner-all'>
    <div class='ui-widget-header ui-corner-top'>
        <h3>Available Fragments</h3>
    </div>
    <div class='JFS_panel center ui-widget-content'>
        <div class='JFS_filterHolder ui-widget-content ui-corner-all'>
            <input id='JFS_filter' type='text'></input>
            <span class='ui-icon ui-icon-search'></span>
            <p class='unselectable' unselectable=on>filter</p>
        </div>
    </div>
    <div class='JFS_panel center ui-widget-content ui-corner-bottom'>
        <p class='right JFS_count'><span id='JFS_num_items'>0</span> items</p>
        <div class='JFS_fragView ui-widget-content ui-corner-all'>
            <div id='JFS_loading' class='center'>
                <img src='/static/images/spinner.gif' alt='Loading' />
                <h3>Loading Fragments...</h3>
            </div>
        </div>
    </div>
</div>
