
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/manual.css" />

<form id='add_form' action="{{ action }}" method="post" enctype="multipart/form-data">
	{%csrf_token%}
<div style="text-align:center">
	<h3>{{ title }}</h3>
	
	<h4 class='label'>Name</h4>
	<div id='name_error' class='error' style='display:none'></div>
	<div>{{meta.name}}</div>

	<h4 class='label'>Description</h4>
	<div id='desc_error' class='error' style='display:none'></div>
	<div>{{meta.desc}}</div>
	
	<h4 class='label'>Sequence</h4>
	<div id='seq_error' class='error' style='display:none'></div>
	<div>{{seq.seq}}</div>
	
</div>

</form>
