{% extends "fragment/addform.html" %}

{% block form %}
<table class="center">
	{{ fragment_form.as_table }}
</table>
{% endblock %}

{%block submitjs%}
console.log('Submitting the form via AJAX...');
$form = $(this);
var data = {'database': $form.find('#id_database').val(),
				'query': $form.find('#id_query').val(),
				'csrfmiddlewaretoken': $form.find('input:first').val(),
				} 
console.log("$('#fragment_form').load('/fragment/search/NT', " + data + ");");
$('#fragment_form').load('/fragment/search/NT', data, function(){
	var winHt = parseFloat($(window).height());
	var props = {	'height': (0.9 * winHt) + 'px',
					}
	$('#fragment_form').css( props );
	$('.ui-dialog').css('top', (0.02 * winHt) + 'px');
});
console.log("done, return false");
return false;
{%endblock%}