@charset "UTF-8";

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #fafafa;
	margin: 0;
	padding: 0;
	color: #000;
	outline:none;
}


a {
	outline:none;
}

.container {
	min-width: 810px;
	max-width:1100px;
	margin: 20px auto; 
	padding: 0px 20px;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px; 
}

#main_title {
	float:left;
	position:relative;
	left:0px;
	top:0px;
}

.footer{
    clear:both;
    text-align:center;
    font-size:0.7em;
    padding:5px;
    margin-bottom:25px;
}

.content{
	min-width:790px;
	font-size:0.8em;
	padding:5px;
    margin-bottom:10px;
}

.content-fixed {
	width:790px;
	margin-left:auto;
	margin-right:auto;
}

.content-table {
	min-width:800px;
	font-size:0.8em;
	padding:0px;
	margin-bottom:10px;
}

.content-table-fixed {
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

.menu {
	width:170px;
	font-size:0.8em;
    padding-top:10px;
    text-align:center;
    margin-bottom:15px;
}

.menu a {
    margin-bottom:10px;
    width:130px;
}

pre.dna_demo {
	font-size:1.5em;
}

pre.dna_demo_h {
    height:150px;
    margin:0px;
}

div.dna_demo {
    text-align:center;
    display:none;
}

div.ext_demo {
    text-align:center;
    display:none;
    height:320px;
}

div.ext_demo div {
    line-height:18em;
}

div.ext_demo div img {
    vertical-align:middle;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table { clear: both }

table.protocol {
    margin-left:auto;
    margin-right:auto;
}

table.protocol td {
    background:#eaeaea;
    padding:3px;
    vertical-align:text-top;
}

.css_right {
	float:right;
}

textarea {
	resize: none;
}

input.captcha {
	width:30px;
	height:20px;
}

a.user_tab {
	font-size:0.7em;
}

span.user_tab {
	float:right;
	margin-right:10px;
	margin-top:46px;
}

span.user_tab ul {
	list-style:none;
	padding:5px;
	margin-top:0px;
	border-top:none;
	position:absolute;
	display:none;
	z-index:10;
}

span.user_tab ul li {
	padding:5px;
}

span.user_tab ul li a {
	font-size:0.7em;
	color:#222;
	width:150px;
}

div.ui-state-default a.ui-button {
	border:none !important;
}

div.ui-state-default button.ui-button {
	border:none !important;
}
