<style type='text/css'>
.fragment
{
    width: {% widthratio 1 construct.cf.all|length 100 %}%;
}
</style>

<script type='text/javascript'>
    $(document).ready( function(){
        $('.construct_overview').constructPreview();
    });
</script>

<div class='construct_overview'>
    <div class='fragment bk-fragment'>
        <div class='seq fwd_seq bk-seq'></div>
        <div class='seq rev_seq bk-seq'></div>
    </div>

    {% for cf in construct.cf.all %}
    <div id='fragment-1' class='fragment'>
        <div class='primer fwd-primer'>
            <div class='pbody'></div>
            <div class='parrow'></div>
            <div class='pbase'></div>
            {% if cf.primer_top.warning.count != 0 %}
            <div class='pwarn ui-corner-all'>
                {{ cf.primer_top.warning.count }}
            </div>
            {% endif %}
        </div>

        <div class='sl-target join-target'></div>
        <div class='join-target-hl'></div>

        <div class='seq fwd_seq'></div>
        <div class='seq rev_seq'></div>

        <div class='fname'><p>{{cf.fragment.name}}</p></div>

        <div class='sl-target pcr-target'></div>

        {% if forloop.last %}
            <div class='sl-target post-join-target'></div>
            <div class='post-join-target-hl'></div>
        {% endif %}
        
        <div class='primer rev-primer'>
            <div class='pbody'></div>
            <div class='parrow'></div>
            <div class='pbase'></div>
            {% if cf.primer_bottom.warning.count != 0 %}
            <div class='pwarn ui-corner-all'>
                {{ cf.primer_bottom.warning.count }}
            </div>
            {% endif %}
        </div>
    </div>

    {% endfor %}

    <div style='clear:both'></div>
</div>
