{% extends "base.html" %}

{% block css-include %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/datatable.css" />
{% endblock %}


{% block js-include %}
<script src="{{ STATIC_URL }}/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/fragmentlist.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/importer.js" type="text/javascript"></script>
{% endblock %}

{% block app-menu %}
<button id="addc">Add new Construct</button>
<button id="delete_btn">Delete</button>
{% endblock %}

{% block content %}
<div class="content fixed-width">
	<table id="construct_table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>
					<input class="all-selected" type="checkbox" name="select-all" value="select-all"/>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for construct in construct_list %}
				<tr>
					<td>
						<a href="{{ construct.id }}/">{{ construct.name }}</a>
					</td>
					<td>
						{{ construct.description|truncatewords:10 }}
					</td>
					<td>
						<input class="selected-check" id="{{construct.id}}-checkbox" type="checkbox" name="selected" value="{{construct.id}}"/>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block dialog %}
<div id="construct_add">
	<form action="add" method="post">
		{% csrf_token %}
		{% include "gibson/constructform.html" %}
	</form>
	<div style="float:right; padding-right:10px;"><button id="add">Add</button></div>
</div>

<div id='confirm_delete'>
	<div id='delete_contents'>
	</div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">

var handle_updated_selection = function(event, data){
	if( data['selected'] != 0 )
	{
		$('#delete_btn').button('enable');
		//$('#download_btn').button('enable');
	}
	else
	{
		$('#delete_btn').button('disable');
		//$('#download_btn').button('disable');
	}
}

var delete_html = '<div style="text-align:center;margin-top:1.5em;">' +
'<p>' +
'	Are you sure you want to delete the' +
'	<span id="num-del"></span>' +
'	you selected?' +
'</p>' +
'<div>' +
'	<form id="delete-form">' +
'		<button id="cancel-delete"></button>' +
'		<button id="confirm-delete"></button>' +
'	</form>' +
'</div>' +
'</div>';

var show_delete_dialog = function(){
	var num = $('#construct_table').fragmentList('getNumSelected');
	var s = ''
	if(num > 1)
		s = 's'
	var text = num + " construct" + s;
	$('#delete_contents').html(delete_html)
		.find('#num-del')
			.text(text);
	
	$('#cancel-delete').button({
		label:"Cancel",
		icons:{primary:'ui-icon-cancel'}
	}).click(function() {
		$('#confirm_delete').dialog('close');
	});
	
	$('#delete-form').submit(function() {
		return false;
	});
	
	$('#confirm-delete').button({
		label:"Delete",
		icons:{primary:'ui-icon-trash'}
	}).click(function() {
		var commands = new Array();
		var ids = $('#construct_table').fragmentList('getList');
		for(i in ids)
		{
			var id = ids[i];
			commands.push( {'desc': "Deleting id '" + id + "'",
							'url': '' + id + "/delete/",
							'data': {'selected': id},
							'type': 'POST',});
		}

		$('#confirm_delete').loader({	'commands': commands,
										'autoStart': true,
										'done': function(errors) {location.reload();},
										'title': 'Deleting Constructs...',});

	});
	
	$('#confirm_delete').dialog('open');
};
	
$(document).ready(function() {
	$('button[id="add"]')
		.click(function(event){
			$.post('add', $('form[action^="add"]').serialize(), function(url){
				window.location.href = url;
			});
		})
		.button({
			icons:{primary:'ui-icon-plusthick'}
		});
	
	$('#construct_table').fragmentList({
		selectChanged: function(event, data) {handle_updated_selection(event, data);},
	});
	
	$('#construct_table').dataTable({
		bAutoWidth: false,
		bJQueryUI: true,
		aoColumns: [
			{
				sWidth:"25%"
			},
			{
				sWidth:"70%",
			},
			{
				sWidth:"5%"
			},
		],
		oLanguage:{
			sEmptyTable: '<button id="addc">Add new Construct</button>'
		}
	});
	$('button[id="addc"]')
		.click(function(event){
			$('#construct_add').dialog('open');
		})
		.button({
			icons:{primary:'ui-icon-plusthick'}
		});
	$('#construct_add').dialog({
		autoOpen:false,
		resizable:false,
		modal:true,
		title:'Add new Construct',
		width:400
	});
	
	$('#delete_btn').button({
		label:"Delete Selection",
		icons:{primary:'ui-icon-trash'},
		disabled: true,
	}).click(function() {
		show_delete_dialog();
	});

	$('#confirm_delete').dialog({
		autoOpen:false,
		resizable:false,
		modal:true,
		title:"Confirm Deletion",
		close:function () {
		},
		height:"auto",
		width:"580"
	});

});
</script>
{% endblock %}
