{% extends "base.html" %}

{% block css-include %}
<style type="text/css">
.feature {
	border-top:2px solid red;
}
.primer {
	border-bottom:2px solid blue;
	background-color:PaleTurquoise;
}
table.primert td {
	padding:2px;
}

table.primert {
	border-spacing:0;
}

button.primer_bottom, .primer_top {
	margin:3px;
}

button.primer_top {
	float:right;
}

div.fragment_name {
	font-weight:bold;
	text-align:center;
	font-size:0.9em;
}

input.mix {
	width:40px;
}

td.errorcell {
	background-color:#f99 !important;
}

td.warningcell {
	background-color:orange !important;
}


</style>
{% endblock %}


{% block js-include %}
<script src="{{ STATIC_URL }}/js/primers.js" type="text/javascript"></script>
{% endblock %}

{% block menu %}
|
<button id="download_primers">Download (.csv)</button>
<button id="download_protocol">Protocol</button>
|
<button id="reset_offset">Reset Offsets</button>
{% endblock %}

{% block content %}
<div class="ui-widget-content ui-corner-all content">
	<h3>Primers</h3>
	<p>Number in brackets count the number of warnings for each primer. Click on the primers to see details.</p>
	<div>
	{% for cf in construct.cf.all %}
		<div style="float:left;">
			<div style="width:150px;">
				{% with cf.primer_top as primer %}
				<button value="{{ primer.id }}/{{ primer.name }}/" class="primer_button primer_top">Top ({{ primer.warning.count }})</button>
				{% endwith %}
			</div>
			<div style="clear:both"></div>
			<div class="fragment_name" style="width:150px;">
			{{ cf.fragment.name }}
			</div>
			<div style="width:150px;">
				{% with cf.primer_bottom as primer %}
				<button value="{{ primer.id }}/{{ primer.name }}/" class="primer_button primer_bottom">Bottom ({{ primer.warning.count }})</button>
				{% endwith %}
			</div>
		</div>
	{% endfor %}
	</div>
</div>
<div id="primer_info">
	<div class="ui-widget-content ui-corner-all content">
		<h3>Summary</h3>
		<p><table style="margin-left:30px;" class="protocol">
		<tr><th style="width:250px;">Name</th><th style="width:110px;">Length (bp)</th><th style="width:110px;">T<sub>m</sub> anneal (&deg;C)</th><th style="width:110px;">T<sub>m</sub> full (&deg;C)</th></tr>
		{% for primer in construct.primer.all %}
		<tr><td>{{ primer.name }}</td><td style="text-align:center;">{{ primer.length }}</td><td style="text-align:center;">{{ primer.stick.tm|floatformat:0 }}</td><td style="text-align:center;">{{ primer.tm|floatformat:0 }}</td></tr>
		{% endfor %}
		</table></p>
	</div>
	<div class="ui-widget-content ui-corner-all content">
		<h3>PCR Particulars</h3>
		<p>Fill in the details for all of your primers to download protocol information</p>
		<div id="warning" class="ui-state-highlight ui-corner-all" style="padding:5px; margin-left:auto; margin-right:auto; width:500px; margin-bottom:5px;">Warning! Some of your components have a volume of less than 1&mu;l. Consider diluting them before adding to the mix.</div>
		<div style="width:310px; float:left;">
			<table class="protocol"><tr><th>Stock</th></tr></table>
			{% for cf in construct.cf.all %}
			<form class="mixform" id="{{ cf.fragment.name }}">
				<table class="protocol">
					<tr><th colspan="2" style="width:150px;">{{ cf.fragment.name }}</th><td>Top</td><td><input class="mix" value="{{ cf.primer_top.concentration }}" /> &mu;M</td></tr>
					<tr><td>Template</td><td><input class="mix" value="{{ cf.concentration }}" /> ng/&mu;l</td><td>Bottom</td><td><input class="mix" value="{{ cf.primer_bottom.concentration }}" /> &mu;M</td></tr>
					<tr><th colspan="4">&nbsp;</th></tr>
				</table>
			</form>
			{% endfor %}
			
		</div>
		<div style="width:200px; float:left;">
			<table class="protocol">
				<tr><th colspan="2">&nbsp;</th></tr>
				<tr><th>Repeats</th><td><input class="mix" id="repeats" value="1" /></td></tr>
				<tr><th>Volume each</th><td><input class="mix" id="volume_each" value="12.5" /> &mu;l</td></th></tr>
				<tr><th>Error margin</th><td><input class="mix" id="error_margin" value="0" /> %</td></tr>
			</table>
		</div>
		<div style="width:270px; float:left;">
			<table class="protocol">
				<tr><th>Reagent</th><th>Stock</th><th>Desired</th></tr>
				<tr><td>Buffer</td><td><input class="mix" id="buffer_stock" value="10" /> X</td><td><input class="mix" id="buffer_desired" value="1" /> X</td></tr>
				<tr><td>dNTPs</td><td><input class="mix" id="dntp_stock" value="10" /> mM</td><td><input class="mix" id="dntp_desired" value="0.8" /> mM</td></tr>
				<tr><td>Enzyme</td><td><input class="mix" id="enzyme_stock" value="2.5" /> U/&mu;l</td><td><input class="mix" id="enzyme_desired" value="2.5" /> U</td></tr>
				<tr><td>Primer</td><th></th><td><input class="mix" id="primer_desired" value="0.4" /> &mu;M</td></tr>
				<tr><td>Template</td><th></th><td><input class="mix" id="template_desired" value="100" /> ng</td></tr>
			</table>
		</div>
		<div style="width:400px; float:right; margin:10px; padding:5px;" class="ui-widget-content ui-corner-all">
			If you see an orange box, it means that you will need to pipette less than 1&mu;l of something. You are advised to dilute before adding to the mix.
		</div>
		<div style="clear:both;"></div>
	</div>
</div>

{% endblock %}

{% block dialog %}

<div id="primer_sequence"></div>

<div id="wait">
	<p>Loading...</p>
</div>

<div id="primer_offset_confirm"></div>

<div id="process">
	<p>Processing...</p>
	<div id="process_progress" style="height:22px;"></div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	$('button.primer_button').click(function() {
		$('#wait').dialog('open');
		$('#primer_info').load('/gibthon/{{ construct.id }}/{{ construct.name }}/primers/'+this.value.split('/')[0], function() {
			$('a#up').attr('href', '/gibthon/{{ construct.id }}/{{ construct.name }}/primers/');
			$('.primer_info_wrapper:hidden').show()
			$('#wait').dialog('close');
		});
		history.pushState(null,null,'/gibthon/{{ construct.id }}/{{ construct.name }}/primers/'+this.value);
	});
	if ('{{ primer }}' != ''){
		$('#wait').dialog('open');
		$('#primer_info').load('/gibthon/{{ construct.id }}/{{ construct.name }}/primers/{{ primer }}', function() {
			$('.primer_info_wrapper:hidden').show()
			$('#wait').dialog('close');
		});
		$('.primer_info_wrapper').show();
	}
	$('button#download_primers').button({
		icons:{primary:'ui-icon-transferthick-e-w'}
	}).click(function(event){
		window.location.href='/gibthon/{{ construct.id }}/{{ construct.name }}/primers/csv';
	});
	$('button#download_protocol').button({
		icons:{primary:'ui-icon-clipboard'}
	});
});
</script>
{% endblock %}