{% extends "base.html" %}

{% block css-include %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/ligate.css" />
{% endblock %}

{% block js-include %}
<script type="text/javascript" src="{{ STATIC_URL }}/js/ligate.js"></script>
{% endblock %}

{% block content %}
<div class="content">
	<div style="float:right; margin:10px; width:150px;">
		<div>
			<div class='ui-widget-header ui-corner-top'><h4>Ligation Mix</h4></div>
			<div class='ui-state-default ui-corner-bottom' id="output">
			</div>
		</div>
	</div>
	<div class="ui-widget-content ui-corner-all" style="float:left; margin:10px; padding:10px; width:355px; height:180px;">
		<h3>Ligation ratio calculator</h3>
		<img src="{{ STATIC_URL }}/images/lcnice2.jpg" style="height:150px; float:left;" />
		<p></p>
		<p>To use, set the volumes in the right hand box, and add components as necessary below.</p>
		<p>Then, just read off from the "Ligation Mix" box for your final volumes</p>
	</div>
	<div style="float:left; margin:10px; width:200px;">
		<div class="ui-widget-content ui-corner-all" style="padding:10px; height:180px;">
			<form id="base">
				<table>
					<tr>
						<th></th><th>(µl)</th>
					</tr><tr>
						<th><label for="total_volume">Total volume of mix</label></th><td><input type="text" name="total_volume" id="total_volume" class="numeric" value="20"/></td>
					</tr><tr>
						<th><label for="buffer_volume">Volume of buffer</label></th><td><input type="text" name="buffer_volume" id="buffer_volume" class="numeric" value="4"/></td>
					</tr><tr>
						<th><label for="ligase_volume">Volume of enzyme</label></th><td><input type="text" name="ligase_volume" id="ligase_volume" class="numeric" value="1"/></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div style="float:left; margin:10px; width:595px;">
		<div class="ui-widget-header ui-corner-top"><button id="button-addrow" name="button-addrow" onmouseup="addTableRow($('#input'));" style="margin:2px; float:right; font-size:0.8em;"></button><h4>Components</h4></div>
		<div class="ui-widget-content ui-corner-bottom">
		{% if user.is_authenticated %}
		<p>Start typing in the name field to bring up a list of your fragments</p>
		{% endif %}
		{% if not user.is_authenticated %}
		<p>Log in to access your library of fragments.</p>
		{% endif %}
            <table id="input">
                <tr>
                    <th>Name</th>
                    <th>Molar Ratio</th>
                    <th>Conc (ng/µl)</th>
                    <th>Length (bp)</th>
                    <th>Max Vol (µl)</th>
                    <th></th>
                </tr>
                <tr>
                    <td><input type="text" name="name" value="Backbone" /></td>
                    <td><input type="text" name="ratio" value="1" class="numeric" /></td>
                    <td><input type="text" name="conc" class="numeric" value="20"/></td>
                    <td><input type="text" name="length" class="numeric" value="2000"/></td>
                    <td><input type="text" name="maxvol" class="numeric" value="10" /></td>
                    <td class="icon"><a href="#" onClick="return false;"><span class="ui-icon ui-icon-cancel"></span></a></td>
               </tr>
 				<tr>
                    <td><input type="text" name="name" value="Insert" /></td>
                    <td><input type="text" name="ratio" value="3" class="numeric" /></td>
                    <td><input type="text" name="conc" class="numeric" value="20"/></td>
                    <td><input type="text" name="length" class="numeric" value="1000"/></td>
                    <td><input type="text" name="maxvol" class="numeric" value="10" /></td>
                    <td><a href="#" onClick="return false;"><span class="ui-icon ui-icon-cancel"></span></a></td>
                </tr>
            </table>
       	</div>
	</div>
</div>
{% endblock %}