{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
$(document).ready(function () {
	$('a[href^="/help"]').button();
	$('a#ligate').button();
});
</script>
{% endblock %}

{% block no-app-menu %}
{% endblock %}

{% block content %}
<div class="ui-widget-content ui-corner-all fixed-width">
	<div style="text-align:center; padding-top:10px;"><img src="{{ STATIC_URL }}/images/gibthon2.0beta.png" width="150px" /></div>
	<div style="height:10px; clear:both;"></div>
	<div style="width:50%; float:right;" class="content">
		<div style="height:150px;">
			<h2 style="text-align:right;">...made Pythony</h2>
			<p>The Gibthon Construct Designer facilitates the design of primers to create overlaps in your
			DNA. It will optimise them for length and melting temperature, and warn you of any potential
			selfpriming or mispriming.</p>
		</div>
		<div style="text-align:center;"><p><a href="/help/gibthon">How does the GCD work?</a></p></div>
	</div>
	<div style="width:50%;" class="content">
		<div style="height:150px;">
			<h1>Gibson Assembly...</h1>
			<p>Gibson Assembly is a revolutionary new techinque described by 
			<a href="http://www.ncbi.nlm.nih.gov/pubmed/19363495">Daniel Gibson in 2009</a> that allows for
			seamless joining of an arbitrary number of sequences.<p>
		</div>
		<div style="text-align:center;"><p><a href="/help/gibson">How does Gibson Assembly work?</a></p></div>
	</div>
</div>
<div class="fixed-width-container" style="padding-top:20px;" >
	<div class="ui-widget-content ui-corner-all content half-width" style="float:right;">
		<p><h2>About</h2></p>
		<p>Gibthon was started for the <a href="http://2010.igem.org/Team:Cambridge">2010 Cambridge iGEM Team</a> as a companion
		to our <a href="http://www.synbio.org.uk/gibson/downloads/files/RFC57.pdf">RFC on Gibson Assembly</a>.</p>
		<p>It is written and currently hosted by <a href="mailto:bill@gibthon.org">Bill Collins</a> using the
		<a href="http://www.djangoproject.com/">Django Framework</a>, and makes extensive use of 
		<a href="http://mfold.bioinfo.rpi.edu/">mfold</a>, <a href="http://biopython.org/wiki/Main_Page">BioPython</a> and
		<a href="http://jquery.com/">jQuery</a>. The source code will be relased when this site goes live.</p>
		<p>The project has been made possible thanks to the invaluable advice and academic and fiscal support of 
		<a href="http://www.path.cam.ac.uk/research/investigators/ajioka/">Jim Ajioka</a>, <a href="http://www.plantsci.cam.ac.uk/research/jimhaseloff.html">Jim Haseloff</a>, and
		<a href="http://www.gen.cam.ac.uk/research/micklem.html">Gos Micklem</a>.</p>
	</div>
	<div class="ui-widget-content ui-corner-all content half-width" style="float:left;">
		<div style="text-align:center;"><img src="{{ STATIC_URL }}/images/lcnice2.jpg" width="150px" /></div>
		<h2>Ligation Calculator</h2>
		<p>The Ligation Calculator is a simple tool for calculating reactant concentrations for DNA ligation</p>
		<div style="text-align:center;"><p><a href="/tools/ligate/" id="ligate">Ligation Calculator</a></p></div>
	</div>
</div>
{% endblock %}
