<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Gibthon:{{ title|default:"Home" }}</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/jquery-ui-redmond.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/base.css" />
{% block css-include %}{% endblock %}
<script src="{{ STATIC_URL }}/js/jquery.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/ajax.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/jquery.prompt.js" type="text/javascript"></script>
{% block js-include %}{% endblock %}
{% if user.is_authenticated %}
<script src='http://async-message-passer.appspot.com/_ah/channel/jsapi'></script>
{% endif %}
<script type="text/javascript">
var STATIC_URL = "{{ STATIC_URL }}";
{% if user.is_authenticated %}
$(document).ready(function () {
	channel = new goog.appengine.Channel('{{ user.get_channel_key }}');
	socket = channel.open();
	socket.onopen = function() {};
	socket.onmessage = function(message) {
		inbox_refresh();
	};
	socket.onerror = function() {};
	socket.onclose = function() {};	
});
{% endif %}
</script>
<script src="{{ STATIC_URL}}/js/base.js" type="text/javascript"></script>
{% block js %}{% endblock %}
</head>

<body>

<div id="container">
	<div class="ui-widget-header" id="header">
		<div class="fixed-width">
      <div class='menu-bar'>
        {% if user.is_authenticated %}
        <span class="user_tab"><a href="/user/inbox/" id="user_tab_inbox" class="user_tab">Inbox (<span id="inbox_unread" style="color:red;">&nbsp;&nbsp;</span>/<span id="inbox_not_added" style="color:black;">&nbsp;&nbsp;</span>/<span id="inbox_count">&nbsp;&nbsp;</span>)</a></span>
        <span class="user_tab drop">
          <a href="/user/profile/" id="user_tab_profile" class="user_tab">Logged in as {{ user }}</a>
          <ul class="ui-widget-content ui-corner-bottom">
            <li><a href="/user/profile/">Profile</a></li>
            <li><a href="/user/logout">Log out</a></li>
          </ul>
        </span>
        {% else %}
        <span class="user_tab"><a href="/user/login/" id="user_tab_login" class="user_tab">Log in</a></span>
        <span class="user_tab"><a href="/user/register/" id="user_tab_register" class="user_tab">Register</a></span>
        {% endif %}
        <span class="user_tab drop">
          <a href="/help/" id="user_tab_help" class="user_tab">Help</a>
          <ul class="ui-widget-content ui-corner-bottom">
            <li><a href="/help/gibson/">Gibson Assembly</a></li>
            <li><a href="/help/primer/">Primer Design</a></li>
            <li><a href="/help/gibthon/">Construct Designer</a></li>
            <li><a href="/partsearch/">PartSearch API</a></li>
          </ul>
        </span>
        <span class="user_tab drop">
          <a href="/tools/" id="user_tab_tools" class="user_tab">Apps</a>
          <ul class="ui-widget-content ui-corner-bottom">
            <li><a href="/fragment/">Library</a></li>
            <li><a href="/gibthon/">Construct Designer</a></li>
            <li><a href="/pricalc/">PriCalc</a></li>
            <li><a href="/tools/ligcalc/">LigCalc</a></li>
            <li><a href="/tools/molcalc/">MolCalc</a></li>
          </ul>
        </span>
        <span class="user_tab drop">
          <a href="/" id="user_tab_home" class="user_tab">Home</a>
          <ul class="ui-widget-content ui-corner-bottom">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
          </ul>
        </span>	
      </div>
			<a href="/"><img src="{{ STATIC_URL }}/images/gibthon2.0beta.png" style="height:60px; padding:5px 10px; float:left;" alt="Gibthon" /></a>
			<h2 id="main_title">Gibthon<!--:<span style="font-size:0.7em">{{ title|default:"Home" }}</span>--></h2>
		</div>
	</div>
	{% block no-app-menu %}
	<div class="ui-state-default content" id="menubar">
	<div class="fixed-width">
	<span style="padding:0px 10px;" id="apptitle">{{ title }}</span>
	{% block app-menu %}
	{% endblock %}
	</div>
	</div>
	{% endblock %}
	
	{% block login_prompt %}
	{% if user.is_authenticated %}
	{% else %}
	<!--<div class="ui-state-highlight ui-corner-all content">
	<p>Want to have a play around? Just <a href="/user/login">login</a> with the username 'demo' and password 'demo'. Nothing is guaranteed to work, but please email any problems you do find to <a href="mailto:bill@gibthon.org">me</a></p>
	</div>-->
	{% endif %}
	{% endblock %}
	<div id="sub-container" class="ui-widget-content ui-corner-bottom">
	{% block content %}{% endblock %}
	<div style="clear:both;"></div>
	</div>
	<div style="height:30px;"></div>
	<div class="ui-state-disabled" id="footer">
		Copyright 2011 Bill Collins and Contributors
	</div>
</div>

{% block dialog %}
{% endblock %}
<div id="prompt"></div>
<div id="prompt2"></div>
</body>
</html>
