<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Gibthon:{{ title|default:"Home" }}</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/jquery-ui-redmond.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/base.css" />
{% block css-include %}{% endblock %}
<script src="{{ STATIC_URL }}/js/jquery.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/ajax.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/jquery.prompt.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/jquery.easing.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/jquery.lavalamp.min.js" type="text/javascript"></script>
{% block js-include %}{% endblock %}
{% block js %}{% endblock %}
{% if user.is_authenticated %}
<script src='http://async-message-passer.appspot.com/_ah/channel/jsapi'></script>
{% endif %}
<script type="text/javascript">
var inbox_refresh = function() {
	$.get('/user/inbox/fetch', function (data) {
		$('span#inbox_not_added').html(data[2]);
		$('span#inbox_unread').html(data[1]);
		$('span#inbox_count').html(data[3]);
		if (data[0] > 0) {
			alert('You have '+data[0]+' new message(s)!');
		}
	}, 'json');
};
var STATIC_URL = "{{ STATIC_URL }}";
$(document).ready(function() {
	inbox_refresh();
			
	{% if user.is_authenticated %}
	$('#user_tab_profile').button({
		icons:{primary:'ui-icon-person',
			   secondary:'ui-icon-triangle-1-s'}
	});
	$('#user_tab_inbox').button({
		icons:{primary:'ui-icon-mail-closed'}
	});
	{% else %}
	$('#user_tab_login').button({
		icons:{primary:'ui-icon-tag'}
	})
	.click(function (event) {
		event.preventDefault();
		window.location.href="/user/login?next="+window.location.pathname;
	});
	$('#user_tab_register').button({
		icons:{primary:'ui-icon-key'}
	});
	{% endif %}
	$('#user_tab_home').button({
		icons:{primary:'ui-icon-home',
			   secondary:'ui-icon-triangle-1-s'}
	});
	$('#user_tab_help').button({
		icons:{primary:'ui-icon-help',
			   secondary:'ui-icon-triangle-1-s'}
	});
	$('#user_tab_tools').button({
		icons:{primary:'ui-icon-wrench',
			   secondary:'ui-icon-triangle-1-s'}
	});
	
	$('.user_tab').addClass('ui-corner-top').removeClass('ui-corner-all');

	$('span.drop').hover(function () {
		$('ul', this).slideDown("fast") 
	}, function () {
		$('ul', this).slideUp("fast") }
	);
	
	$('span.drop ul li a').button();
	
	$('input[id^="id_captcha"]').addClass('captcha');
	{% if user.is_authenticated %}
		channel = new goog.appengine.Channel('{{ user.get_channel_key }}');
		socket = channel.open();
		socket.onopen = function() {};
		socket.onmessage = function(message) {
			inbox_refresh();
		};
		socket.onerror = function() {};
		socket.onclose = function() {};	
	{% endif %}
	
	
});
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18410656-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>

<div class="container">
	<div class="ui-widget-header ui-corner-all" style="height:70px; margin-bottom:10px;">
		{% if user.is_authenticated %}
		<span class="user_tab"><a href="/user/inbox/" id="user_tab_inbox" class="user_tab">Inbox (<span id="inbox_unread" style="color:red;">&nbsp;&nbsp;</span>/<span id="inbox_not_added" style="color:black;">&nbsp;&nbsp;</span>/<span id="inbox_count">&nbsp;&nbsp;</span>)</a></span>
		<span class="user_tab drop">
			<a href="/user/profile/" id="user_tab_profile" class="user_tab">Logged in as {{ user }}</a>
			<ul class="ui-widget-content ui-corner-bottom">
				<li><a href="/user/profile/">Profile</a></li>
				<li><a href="/user/logout">Log out</a></li>
			</ul>
		</span>
		{% else %}
		<span class="user_tab"><a href="/user/login/" id="user_tab_login" class="user_tab">Log in</a></span>
		<span class="user_tab"><a href="/user/register/" id="user_tab_register" class="user_tab">Register</a></span>
		{% endif %}
		<span class="user_tab drop">
			<a href="/help/" id="user_tab_help" class="user_tab">Help</a>
			<ul class="ui-widget-content ui-corner-bottom">
				<li><a href="/help/gibson/">Gibson Assembly</a></li>
				<li><a href="/help/primer/">Primer Design</a></li>
				<li><a href="/help/gibthon/">Construct Designer</a></li>
				<li><a href="/partsearch/">PartSearch API</a></li>
			</ul>
		</span>
		<span class="user_tab drop">
			<a href="/tools/" id="user_tab_tools" class="user_tab">Apps</a>
			<ul class="ui-widget-content ui-corner-bottom">
				<li><a href="/fragment/">Library</a></li>
				<li><a href="/gibthon/">Construct Designer</a></li>
				<li><a href="/pricalc/">PriCalc</a></li>
				<li><a href="/tools/ligcalc/">LigCalc</a></li>
				<li><a href="/tools/molcalc/">MolCalc</a></li>
			</ul>
		</span>
		<span class="user_tab drop">
			<a href="/" id="user_tab_home" class="user_tab">Home</a>
			<ul class="ui-widget-content ui-corner-bottom">
				<li><a href="/">Home</a></li>
				<li><a href="/about/">About</a></li>
			</ul>
		</span>		
		<a href="/"><img src="{{ STATIC_URL }}/images/gibthon2.0beta.png" style="height:60px; padding:5px 10px; float:left;" alt="Gibthon" /></a>
		<h2 id="main_title">Gibthon:<span style="font-size:0.7em">{{ title|default:"Home" }}</span></h2>
	</div>
	{% block menu %}
	{% endblock %}
	
	{% block login_prompt %}
	{% if user.is_authenticated %}
	{% else %}
	<div class="ui-state-highlight ui-corner-all content">
	<p>Want to have a play around? Just <a href="/user/login">login</a> with the username 'demo' and password 'demo'. Nothing is guaranteed to work, but please email any problems you do find to <a href="mailto:bill@gibthon.org">me</a></p>
	</div>
	{% endif %}
	{% endblock %}
	
	{% block content %}{% endblock %}
	<div class="ui-widget-content ui-corner-all footer">
		Copyright 2011 Bill Collins and Contributors
	</div>
</div>

{% block dialog %}
{% endblock %}
<div id="prompt"></div>
<div id="prompt2"></div>
</body>
</html>
