
#desc{ margin: 1em .7em;}
#status
{
	color: darkgrey;
	font-style: italic;
}
#status:before {content: "Last saved: ";}
#tabs
{
	font-size:10pt;
}
.tab-link
{
	padding-left: .8em;
}
span.ui-icon
{
	display: inline-block;
	vertical-align: middle;
}
.setting-title
{
	font-weight:bold;
	text-align:right;
	width:20em;
	padding-right: 0.5em;
}
.setting-value
{
	width:20em;
	text-align:left;
	padding-left: 0.5em;
}

#canvas_holder
{
    position:relative;
    float:left;
    width:75%;
}

#frag_select_holder
{
    float:left;
    width:25%;
    padding:0px;
}

p.magic-text {display:inline;}
.setting-conc:after {content:' M';}
.setting-temp:after {content:' ᴼC';}
.setting-len:after {content:' bp';}
.setting-title:after {content:":";}

tr.settings
{
	height: 32px;
}
tr.settings-alt
{
	background-color: lightblue;
}

.design-content
{
	margin: .2em;
}

#fragment_clip
{
    float:right;
}
.fragment-data
{
    min-width: 10em;
    max-width: 20em;
    min-height: 3em;
}
.fragment-info
{
    position: absolute;
    background: rgb(255,255,255);
    border: 1px solid #7b7b7b;
    padding: 0.5em;
    background-clip: padding-box;
}
.fragment-info:before{
    content: ' ';
    border-color: #7b7b7b transparent transparent;
    border-style: solid;
    border-width: 14px;
    position: absolute;
    bottom: -29px;
    left: 19px;
}
.fragment-info:after{
    content: ' ';
    border-color: rgb(255,255,255) transparent transparent;
    border-style: solid;
    border-width: 13px;
    position: absolute;
    bottom: -26px;
    left: 20px;
}​
