{% extends "base.html" %}

{% block css-include %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/pricalc.css" />
{% endblock %}

{% block js-include %}
<script type="text/javascript" src="{{ STATIC_URL }}/js/pricalc.js"></script>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function () {
	$('#tabs').tabs({
		disabled:[1],
		show: function(event, ui) {
			if(ui.index == 1){
				var form = $('#form')[0];
				MyOligo = new Oligo(form.lgenec.value.toLowerCase(), form.rgenec.value.toUpperCase());
			}
		}
	});
});
</script>
{% endblock %}

{% block content %}
<div id="tabs" class="content fixed-width-container">
	<ul>
		<li><a href="#input"><span>Input</span></a></li>
		<li><a href="#info"><span>Results</span></a></li>
		<li><a href="#settings"><span>Settings</span></a></li>
	</ul>
	<div id="input" style="margin-left:auto; margin-right:auto; width:700px;">
		<form id="form" onsubmit="return validate(this)" method="post">
			<fieldset class="input">
				<label for="lgene">Left Gene</label> <br/>
				<textarea name="lgene" spellcheck="false" style="width:100%" rows="8" onChange="validate_gene(this)"></textarea><br />
				<div id="lgeneerror" class="errorblank">Enter a sequence of atgc...</div>
				<input type="hidden" name="lgenec" />
			</fieldset>
			<fieldset class="input">
				<label for="rgene">Right Gene</label><br />
				<textarea name="rgene" spellcheck="false" style="width:100%" rows="8" onChange="validate_gene(this)"></textarea><br />
				<div id="lgeneerror" class="errorblank"></div>
			   <input type="hidden" name="rgenec" />
			</fieldset>
		</form>
	</div>
	<div id="info" style="margin-left:80px;">
		<table width="850px">
			<tr><th></th><th>Primer sequence</th><th>Annealing T<sub>m</sub></th><th>Full T<sub>m</sub></th></tr>
			<tr><td width="110">Top primer</td><td style="padding-right:15px;"><textarea id="lseq" readonly style="width:100%;" onClick="selectall(event)"></textarea></td><td id="tmleft" style="text-align:center;"></td><td rowspan="2" id="tmall" style="text-align:center;"></td></tr>
			<tr><td width="110">Bottom primer</td><td style="padding-right:15px;"><textarea id="rseq" readonly style="width:100%;" onClick="selectall(event)"></textarea></td><td id="tmright" style="text-align:center;"></td></tr>
		</table>
		<div style="margin-top:20px;">
			<h3>Left Gene</h3>
			<p id="lgene"></p>
			<h3>Right Gene</h3>
			<p id="rgene"></p>
		</div>
		<div style="margin-top:20px; text-align:center;">
			<button id="self-prime-check-button">Check self-priming</button>
			<div id="boxplot"></div>
		</div>
	</div>
	<div id="settings" style="margin-left:auto; margin-right:auto; width:700px;">
		<form id="settingform">
			<label for="mgsalt">Mg++ conc</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="mgsalt" id="mgsalt" class="numeric" value="50" onchange="saltChange()"/>mM
			<br /><br />
			<label for="nasalt">Na+ conc</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="nasalt" id="nasalt" class="numeric" value="0" onchange="saltChange()"/>mM
		</form>
	</div>
</div>
{% endblock %}
