{% extends "base.html" %}

{% block css-include %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/pricalc.css" />
{% endblock %}

{% block js-include %}
<script type="text/javascript" src="{{ STATIC_URL }}/js/pricalc.js"></script>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function () {
	$('#tabs').tabs({
		disabled:[1],
		show: function(event, ui) {
			if(ui.index == 1){
				var form = $('#form')[0];
				MyOligo = new Oligo(form.lgenec.value.toLowerCase(), form.rgenec.value.toUpperCase());
			}
		}
	});
});
</script>
{% endblock %}

{% block content %}
<div id="tabs" class="content">
	<ul>
		<li><a href="#input"><span>Input</span></a></li>
		<li><a href="#info"><span>Results</span></a></li>
		<li><a href="#settings"><span>Settings</span></a></li>
	</ul>
	<div id="input">
		<form id="form" onsubmit="return validate(this)" method="post">
			<fieldset class="input">
				<label for="lgene">Left Gene</label> <br/>
				<textarea name="lgene" spellcheck="false" style="width:100%" rows="8" onChange="validate_gene(this)"></textarea><br />
				<div id="lgeneerror" class="errorblank">Enter a sequence of atgc...</div>
				<input type="hidden" name="lgenec" />
			</fieldset>
			<fieldset class="input">
				<label for="rgene">Right Gene</label><br />
				<textarea name="rgene" spellcheck="false" style="width:100%" rows="8" onChange="validate_gene(this)"></textarea><br />
				<div id="lgeneerror" class="errorblank">...or a biobrick part name such as BBa_I746008</div>
			   <input type="hidden" name="rgenec" />
			</fieldset>
		</form>
	</div>
	<div id="info">
		<table width="650px">
			<tr><td>Tm (left)</td><td width="84" id="tmleft"></td><td width="110">Tm (right)</td><td id="tmright"></td><th id="time" align="right"></th></tr>
			<tr><td>Overall Tm</td><td id="tmall"></td><td>dG</td><td width="88" id='dg'><a href="#" onClick="MyOligo.get_dg(); return false">Calculate</a></td><td width="174"><div style="float:left"><input id="alwaysdg" name="alwaysdg" type="checkbox"></div><div style="float:right; width:80%;">Always calculate dG?</div></td></tr>
			<tr><td width="110">Left primer</td><td style="padding-right:15px;" colspan="4"><textarea id="lseq" readonly style="width:100%;" onClick="selectall(event)"></textarea></td></tr>
			<tr><td width="110">Right primer</td><td style="padding-right:15px;" colspan="4"><textarea id="rseq" readonly style="width:100%;" onClick="selectall(event)"></textarea></td></tr>
		</table>
		<!--<a href="#" onclick="getcsv(); return false">Download csv</a>-->
	</div>
	<div id="settings">
		<form id="settingform">
			<label for="mgsalt">Mg++ conc</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="mgsalt" id="mgsalt" class="numeric" value="50" onchange="saltChange()"/>mM
			<br /><br />
			<label for="nasalt">Na+ conc</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="nasalt" id="nasalt" class="numeric" value="0" onchange="saltChange()"/>mM
		</form>
	</div>
</div>
{% endblock %}
