{% extends "base.html" %}

{% block css-include %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/pricalc.css" />
{% endblock %}

{% block js-include %}
<script type="text/javascript" src="{{ STATIC_URL }}/js/pricalc.js"></script>
{% endblock %}

{% block content %}
<div id="tabs" class="content fixed-width-container">
	<ul>
		<li><a href="#input"><span>Input</span></a></li>
		<li><a href="#info"><span>Results</span></a></li>
		<li><a href="#settings"><span>Settings</span></a></li>
	</ul>
	<div id="input">
			<form id="form" onsubmit="return validate(this)" method="post">
				<fieldset class="input">
					<label for="lgene">Left Gene</label> <br/>
					<textarea name="lgene" spellcheck="false" style="width:400px" rows="8" onChange="validate_gene(this)" tabindex=1></textarea><br />
					<div id="lgeneerror" class="errorblank">Enter a sequence of atgc...</div>
					<input type="hidden" name="lgenec" />
					{% if user.is_authenticated %}
					<label for="lgene-search">Library search</label></br/>
					<input name="lgene-search" spellcheck="false" tabindex=3 />
					{% else %}
					Log in to access parts from the Registry and other sources
					{% endif %}
				</fieldset>
				<fieldset class="input">
					<label for="rgene">Right Gene</label><br />
					<textarea name="rgene" spellcheck="false" style="width:400px" rows="8" onChange="validate_gene(this)" tabindex=2></textarea><br />
					<div id="lgeneerror" class="errorblank"></div>
					<input type="hidden" name="rgenec" />
					{% if user.is_authenticated %}
					<label for="rgene-search">Library search</label></br/>
					<input name="rgene-search" spellcheck="false" tabindex=4 />
					{% endif %}
				</fieldset>
			</form>
			<div style="clear:both;"></div>
	</div>
	<div id="info">
		<table width="850px" style="margin-left:auto; margin-right:auto;">
			<tr><th></th><th>Primer sequence</th><th>Annealing T<sub>m</sub></th><th>Full T<sub>m</sub></th><th>Length</th></tr>
			<tr>
				<td width="110">Top primer</td>
				<td style="padding-right:15px;">
					<textarea id="lseq" readonly style="width:100%;" onClick="selectall(event)"></textarea>
				</td>
				<td style="text-align:right;">
					<span id="tmleft" style="position:relative; left:10px;"></span>
					<span id="left-up" class="ui-icon ui-icon-arrowthick-1-n uparrow"></span>
					<span id="left-down" class="ui-icon ui-icon-arrowthick-1-s downarrow"></span>
				</td>
				<td rowspan="2" style="text-align:right;">
					<span id="tmall" style="position:relative; left:10px;"></span>
					<span class="ui-icon ui-icon-arrowthick-1-n uparrow all-up"></span>
					<span class="ui-icon ui-icon-arrowthick-1-s downarrow all-down"></span>
				</td>
				<td rowspan="2" style="text-align:right">
					<span id="length" style="position:relative; left:10px;"></span>
					<span class="ui-icon ui-icon-arrowthick-1-n uparrow all-up"></span>
					<span class="ui-icon ui-icon-arrowthick-1-s downarrow all-down"></span>
				</td>
			</tr>
			<tr>
				<td width="110">Bottom primer</td>
				<td style="padding-right:15px;">
					<textarea id="rseq" readonly style="width:100%;" onClick="selectall(event)"></textarea>
				</td>
				<td style="text-align:right;">
					<span id="tmright" style="position:relative; left:10px;"></span>
					<span id="right-up" class="ui-icon ui-icon-arrowthick-1-n uparrow"></span>
					<span id="right-down" class="ui-icon ui-icon-arrowthick-1-s downarrow"></span>
				</td></tr>
		</table>
		<div style="margin-top:20px;">
			<h3>Left Gene</h3>
			<p id="lgene"></p>
			<h3>Right Gene</h3>
			<p id="rgene"></p>
		</div>
		<div style="margin-top:20px; text-align:center;">
			<button id="self-prime-check-button">Check self-priming</button>
			<div id="boxplot"></div>
		</div>
	</div>
	<div id="settings">
		<form id="settingform" style="margin-left:auto; margin-right:auto;">
			<label for="mgsalt">Mg++ conc</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="mgsalt" id="mgsalt" class="numeric" value="50" onchange="saltChange()"/>mM
			<br /><br />
			<label for="nasalt">Na+ conc</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="nasalt" id="nasalt" class="numeric" value="0" onchange="saltChange()"/>mM
		</form>
	</div>
</div>
{% endblock %}
