.top-box
{
	margin:10px 10px 0px 10px; 
	width:450px; 
	padding-top:5px;
}

.bottom-box
{
	border-top:none; 
	margin:0px 10px; 
	width:440px;
	padding:5px;
}

.info
{
	margin-left: 2em;
}

.tr
{
	background-color: ghostwhite;
}

.tr-alt
{
	background-color: rgb(208, 229, 245);
}

#drop_down
{
	display: none;
}

#desc
{
	margin-bottom: .5em;
}

#origin
{
	font-style: italic;
	margin-bottom: .2em;
}

#more_details
{
	cursor: pointer;
}

.ref
{
	margin-bottom: 1em;
}

.ref-title-div
{
	width: 80%;
	float: left;
}

.ref-title
{
	margin: 0.2em 0.5em 0.2em 0em;
	font-style: italic;
}

.ref-search-btn
{
	margin: .2em;
}

.ref-search-div
{
	width: 20%;
	float:left;
}

.ref-detail
{
	margin-left: 1.2em;
	padding-right: 6.4em;
}

.ref-title, .ref-authors, .ref-link, .ref-journal
{
	padding: .1em 0;
	margin-bottom: 0.25em;
}