.status{
	width: 24px;
	height: 24px;
	border: none;
	margin: .2em;
	display: inline-block;
	vertical-align: middle;
}
.status-busy{
	width: 16px !important;
	height: 16px !important;
	margin: 4px !important;
	background-image: url(images/import-spinner.gif);
}
.status-ok{
	background-image: url(images/ok_fail_icons.png);
	background-position: 0 0;
}
.status-error{
	background-image: url(images/ok_fail_icons.png);
	background-position: 24px 0;
}
.extender-error{
	color: red;
	font-weight: bold;
}
