{% extends "base.html" %}

{% block css-include %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/datatable.css" />
<style type="text/css">
td.centre {
	text-align:center;
}
span.icon {
	margin:5px auto;
	cursor:pointer;
}
td {
	padding-left:5px;
	padding-right:5px;
}
</style>
{% endblock %}


{% block js-include %}
<script src="{{ STATIC_URL }}/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/js/jquery.dataTables.fnReloadAjax.js" type="text/javascript"></script>
{% endblock %}

{% block menu %}
|
<a href="add">Add all</a>
{% endblock %}

{% block content %}
<div class="ui-widget-content ui-corner-all content">
<h2>Inbox</h2>
<h4>{{ user.channel }}</h4>
<div style="padding:10px;">
	<table id="inbox_table">
		<thead>
			<tr><th></th><th>Received</th><th>Type <select>
					<option value="">---------</option>
					<option>Construct</option>
					<option>Fragment</option>
				</select>
				Origin <select>
					<option value="">------------------------</option>
					<option>Gibthon Construct Designer</option>
					<option>Genetic Engineering of Cells</option>
					<option>Parts Registry</option>
					<option>Unknown</option>
				</select></th><th>Add</th><th>Del</th></tr>
		</thead>
	</table>
</div>

</div>
{% endblock %}

{% block dialog %}
{% endblock %}


{% block js %}
<script type="text/javascript">

var messageDetail = function ( nTr ) {
	sOut = '<textarea cols="104" rows="10" readonly="true" style="font-family:monospace;" id="message_detail"></textarea>';
	return sOut;
}
var openRow = '';

var newSpan = ' <span style="color:red; font-weight:bold; font-size:0.6em; padding-left:5px;">New</span>';

var print_time = function ( dto ) {
	t = new Date(dto * 1000);
	var hours = t.getHours();
	var minutes = t.getMinutes();
	
	if (hours < 10) { hours = '0' + hours }
	if (minutes < 10) { minutes = '0' + minutes }
	
	return hours + ':' + minutes + ' ' + t.getDate() + '/' + (t.getMonth()+1) + '/' + t.getFullYear();
}	

$(document).ready(function() {
	$('#inbox_table').dataTable({
		bAutoWidth: false,
		bJQueryUI: true,
		aaSorting: [[1, 'desc']],
		sAjaxSource: "/user/inbox/all",
		aoColumns: [
			{
				sWidth:"30px",
				bSortable:false,
				bSearchable:false,
				bUseRendered:false,
				fnRender: function (oObj) {
					return '<span class="ui-icon ui-icon-circle-plus icon read"></span>';
				}
			},
			{
				sWidth:"200px",
				bSearchable:false,
				bUseRendered:false,
				fnRender: function (oObj) {
					return print_time(oObj.aData[1]) + (oObj.aData[0] ? '':newSpan);
				}
			},
			{
				sWidth:"460px",
				bSortable:false,
				bSearchable:false
			},
			{
				sWidth:"60px",
				sClass:"centre",
				bSortable:false,
				bSearchable:false,
				bUseRendered:false,
				fnRender: function (oObj) {
					return '<span class="ui-icon ui-icon-circle-' + (oObj.aData[3] ? 'check' : 'close') + ' icon message_add"></span>'
				}
			},
			{
				sWidth:"30px",
				sClass:"centre",
				bSearchable:false,
				bSortable:false,
				bUseRendered:false,
				fnRender: function (oObj) {
					return '<span class="ui-icon ui-icon-trash icon message_delete"></span>';
				}
			}
		]
	});
	var inbox_table = $('#inbox_table').dataTable();

	$('span.read').live('click', function () {
		var nTr = this.parentNode.parentNode;
		var span = $(this);
		if (openRow != '' && openRow != nTr) {
			inbox_table.fnClose(openRow);
			var icon = $('span.read', openRow);
			icon.removeClass('ui-icon-circle-minus');
			icon.addClass('ui-icon-circle-plus');
		}
		if (span.hasClass('ui-icon-circle-minus')) {
			inbox_table.fnClose(nTr);
			span.removeClass('ui-icon-circle-minus');
			span.addClass('ui-icon-circle-plus');
			openRow = ''
		} else {
			inbox_table.fnOpen(nTr, messageDetail(nTr), 'details');
			var message_id = inbox_table.fnGetData(nTr)[4];
			$('textarea#message_detail').load(message_id+'/detail', function () {inbox_refresh()});
			span.removeClass('ui-icon-circle-plus');
			span.addClass('ui-icon-circle-minus');
			$('+ td span', this.parentNode).remove();
			openRow = nTr;
		}
		inbox_refresh();
	});
	$('#inbox_table select').change(function () {
		inbox_table.fnFilter( $(this).val(), 2);
	});
	$('a[href="add"]').button({
		icons:{primary:'ui-icon-plusthick'}
	}).click(function(event) {
		event.preventDefault();
		if ($('#inbox_table span.message_add.ui-icon-circle-close').length == 0){
			alert("No new items to add");
		} else if (confirm("This will add all un-added messages.")){
			$.get('add', function(data) {
				inbox_refresh();
				alert(data);
			});
		}
	});
	$('span.message_delete').live("click", function() {
		if (confirm('Are you sure you wish to delete this message?')) {
			var nTr = this.parentNode.parentNode;
			var message_id = inbox_table.fnGetData(nTr)[4];
			
			$.get(message_id+'/delete', function(data) {
				inbox_table.fnDeleteRow(nTr);
				inbox_refresh();
			});
		}
	});
	$('span.message_add').live("click", function() {
		var nTr = this.parentNode.parentNode;
		var message_id = inbox_table.fnGetData(nTr)[4];
		if (($(this).hasClass('ui-icon-circle-check'))?confirm('You have already added this, would you like to add it again?'):true){
			$.get(message_id+'/add', function(data) {
				inbox_refresh();
				inbox_table.fnReloadAjax();
				alert(data);
			});
		}
	});
});
</script>
{% endblock %}
