{% extends "base.html" %}

{% block content %}
<div class="ui-widget-content ui-corner-all content fixed-width">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<span class='center form-box'>
	<form method="post" action="/user/login/?next={{ next }}">
	{% csrf_token %}
	<table>
	<tr>
			<td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
	</tr>
	<tr>
			<td>{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td>
	</tr>
	</table>

	<button id='submit_button' >Login</button>
	<input type="hidden" name="next" value="{{ next }}" />
	</form>
</span>
</div>
{% endblock %}
{% block js %}
<script type='text/javascript'>
	$(window).ready( function() {
		$('#submit_button').button( {icons: {primary: 'ui-icon-key'}, } );
	});
</script>
{% endblock %}
