{% extends "base.html" %}

{% block content %}
{% with  ingredient_count=ingredients.count %}
<div class="content fixed-width">

{% regroup buffers by buffer.manufacturer as manufacturers %}
<table>
<tr>
<th>Buffer</th>
{% for ingredient in ingredients %}
<th>{{ ingredient.name }}</th>
{% endfor %}
</tr>
{% for manufacturer in manufacturers %}
<tr>
<th colspan="{{ ingredient_count|add:"1"}}">{{ manufacturer.grouper.name }}</th>
</tr>
{% for buffer in manufacturer.list %}
<tr>
<th>{{ buffer.buffer.name }}</th>
{% for ingredient in buffer.ingredients %}
<td>{{ ingredient }}</td>
{% endfor %}
</th>
</tr>
{% endfor %}
{% endfor %}
</table>
</div>
{% endwith %}
{% endblock %}
