{% for group in groups %}
{% if group.renderedbuffers|length %}
{% with group.ingredients as ingredients %}
<table class="buffertable">
<tr>
	<th class="ui-state-default buffer">Buffer</th>
{% for ingredient in ingredients %}
	<th class="ui-state-default">{{ ingredient.name }} ({{ ingredient.unit }})</th>
{% endfor %}
	<th class="ui-state-default">pH</th>
</tr>
{% for buffer in group.renderedbuffers %}
<tr class="{% cycle 'odd' 'even' %}">
	<th>{{ buffer.buffer.name }} ({{ buffer.buffer.manufacturer }})</th>
{% for ingredient in buffer.ingredients %}
	<td>{{ ingredient }}</td>
{% endfor %}
	<td>{{ buffer.buffer.pH }}</th>
</tr>
{% endfor %}

</table>
<br /><br />
{% endwith %}
{% endif %}
{% endfor %}

