{% with  ingredient_count=ingredients.count %}

{% regroup buffers by manufacturer as manufacturers %}
<table class="buffertable">
<tr>
<th class="ui-state-default buffer">Buffer</th>
{% for ingredient in ingredients %}
<th class="ui-state-default">{{ ingredient.name }} ({{ ingredient.unit }})</th>
{% endfor %}
<th class="ui-state-default">pH</th>
</tr>
<tbody>
{% for manufacturer in manufacturers %}
<tr class="odd">
<td colspan="{{ ingredient_count|add:"2"}}" class="sorting_1 header">{{ manufacturer.grouper.name }}</td>
</tr>
{% for buffer in manufacturer.list %}
<tr class="{% cycle 'odd' 'even' %}">
<th>{{ buffer.name }}</th>
{% for concentration in buffer.concentrations %}
<td>{{ concentration }}</td>
{% endfor %}
<td>{{ buffer.pH }}</th>
</th>
</tr>
{% endfor %}
{% endfor %}
</tbody>
</table>

{% endwith %}
